# A. 1-D data

In [1]:
import pandas as pd
import numpy as np

# Creating an empty series, will result in DeprecationWarning
#series = pd.Series()

# Passing dtype as a parameter to Series for an empty series to avoid DeprecationWarning
# Creating an empty series
series = pd.Series(dtype='float64')
# Newline to separate series print statements
print('{}\n'.format(series))

series = pd.Series(5)
print('{}\n'.format(series))

series = pd.Series([1, 2, 3])
print('{}\n'.format(series))

series = pd.Series([1, 2.2]) # upcasting
print('{}\n'.format(series))

arr = np.array([1, 2])
series = pd.Series(arr, dtype=np.float32)
print('{}\n'.format(series))

series = pd.Series([[1, 2], [3, 4]])
print('{}\n'.format(series))

Series([], dtype: float64)

0    5
dtype: int64

0    1
1    2
2    3
dtype: int64

0    1.0
1    2.2
dtype: float64

0    1.0
1    2.0
dtype: float32

0    [1, 2]
1    [3, 4]
dtype: object

# B. Index

In [2]:
series = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print('{}\n'.format(series))

series = pd.Series([1, 2, 3], index=['a', 8, 0.3])
print('{}\n'.format(series))

a    1
b    2
c    3
dtype: int64

a      1
8      2
0.3    3
dtype: int64

# C. Dictionary input

In [3]:
series = pd.Series({'a':1, 'b':2, 'c':3})
print('{}\n'.format(series))

series = pd.Series({'b':2, 'a':1, 'c':3})
print('{}\n'.format(series))

a    1
b    2
c    3
dtype: int64

b    2
a    1
c    3
dtype: int64

# D. 2-D data

In [5]:
df = pd.DataFrame()
# Newline added to separate DataFrames
print('{}\n'.format(df))

df = pd.DataFrame([5, 6])
print('{}\n'.format(df))

df = pd.DataFrame([[5,6]])
print('{}\n'.format(df))

df = pd.DataFrame([[5, 6], [1, 3]],
                  index=['r1', 'r2'],
                  columns=['c1', 'c2'])
print('{}\n'.format(df))

df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4]},
                  index=['r1', 'r2'])
print('{}\n'.format(df))

Empty DataFrame
Columns: []
Index: []

   0
0  5
1  6

   0  1
0  5  6

    c1  c2
r1   5   6
r2   1   3

    c1  c2
r1   1   3
r2   2   4

# F. Upcasting

In [6]:
upcast = pd.DataFrame([[5, 6], [1.2, 3]])
print('{}\n'.format(upcast))
# Datatypes of each column
print(upcast.dtypes)

     0  1
0  5.0  6
1  1.2  3

0    float64
1      int64
dtype: object

# G. Appending Rows

In [7]:
df = pd.DataFrame([[5, 6], [1.2, 3]])
ser = pd.Series([0, 0], name='r3')

df_app = df.append(ser)
print('{}\n'.format(df_app))

df_app = df.append(ser, ignore_index=True)
print('{}\n'.format(df_app))

df2 = pd.DataFrame([[0,0],[9,9]])
df_app = df.append(df2)
print('{}\n'.format(df_app))

      0  1
0   5.0  6
1   1.2  3
r3  0.0  0

     0  1
0  5.0  6
1  1.2  3
2  0.0  0

     0  1
0  5.0  6
1  1.2  3
0  0.0  0
1  9.0  9

/var/folders/sb/ms2l1cms62n6ty4ntgtmnpzr0000gn/T/ipykernel_5313/2664083485.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_app = df.append(ser)
/var/folders/sb/ms2l1cms62n6ty4ntgtmnpzr0000gn/T/ipykernel_5313/2664083485.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_app = df.append(ser, ignore_index=True)
/var/folders/sb/ms2l1cms62n6ty4ntgtmnpzr0000gn/T/ipykernel_5313/2664083485.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_app = df.append(df2)

# H. Dropping data

In [8]:
df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4],
                   'c3': [5, 6]},
                  index=['r1', 'r2'])
# Drop row r1
df_drop = df.drop(labels='r1')
print('{}\n'.format(df_drop))

# Drop columns c1, c3
df_drop = df.drop(labels=['c1', 'c3'], axis=1)
print('{}\n'.format(df_drop))

df_drop = df.drop(index='r2')
print('{}\n'.format(df_drop))

df_drop = df.drop(columns='c2')
print('{}\n'.format(df_drop))

df.drop(index='r2', columns='c2')
print('{}\n'.format(df_drop))

    c1  c2  c3
r2   2   4   6

    c2
r1   3
r2   4

    c1  c2  c3
r1   1   3   5

    c1  c3
r1   1   5
r2   2   6

    c1  c3
r1   1   5
r2   2   6

# I. Concatination

In [9]:
df1 = pd.DataFrame({'c1':[1,2], 'c2':[3,4]},
                   index=['r1','r2'])
df2 = pd.DataFrame({'c1':[5,6], 'c2':[7,8]},
                   index=['r1','r2'])
df3 = pd.DataFrame({'c1':[5,6], 'c2':[7,8]})

concat = pd.concat([df1, df2], axis=1)
# Newline to separate print statements
print('{}\n'.format(concat))

concat = pd.concat([df2, df1, df3])
print('{}\n'.format(concat))

concat = pd.concat([df1, df3], axis=1)
print('{}\n'.format(concat))

    c1  c2  c1  c2
r1   1   3   5   7
r2   2   4   6   8

    c1  c2
r1   5   7
r2   6   8
r1   1   3
r2   2   4
0    5   7
1    6   8

     c1   c2   c1   c2
r1  1.0  3.0  NaN  NaN
r2  2.0  4.0  NaN  NaN
0   NaN  NaN  5.0  7.0
1   NaN  NaN  6.0  8.0

# J. Merging

In [10]:
mlb_df1 = pd.DataFrame({'name': ['john doe', 'al smith', 'sam black', 'john doe'],
                        'pos': ['1B', 'C', 'P', '2B'],
                        'year': [2000, 2004, 2008, 2003]})
mlb_df2 = pd.DataFrame({'name': ['john doe', 'al smith', 'jack lee'],
                        'year': [2000, 2004, 2012],
                        'rbi': [80, 100, 12]})
                        
print('{}\n'.format(mlb_df1))
print('{}\n'.format(mlb_df1))

mlb_merged = pd.merge(mlb_df1, mlb_df2)
print('{}\n'.format(mlb_merged))

        name pos  year
0   john doe  1B  2000
1   al smith   C  2004
2  sam black   P  2008
3   john doe  2B  2003

        name pos  year
0   john doe  1B  2000
1   al smith   C  2004
2  sam black   P  2008
3   john doe  2B  2003

       name pos  year  rbi
0  john doe  1B  2000   80
1  al smith   C  2004  100

# K. Direct indexing

In [11]:
df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4],
                   'c3': [5, 6]}, index=['r1', 'r2'])
col1 = df['c1']
# Newline for separating print statements
print('{}\n'.format(col1))

col1_df = df[['c1']]
print('{}\n'.format(col1_df))

col23 = df[['c2', 'c3']]
print('{}\n'.format(col23))

r1    1
r2    2
Name: c1, dtype: int64

    c1
r1   1
r2   2

    c2  c3
r1   3   5
r2   4   6

In [12]:
df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index=['r1', 'r2', 'r3'])

print('{}\n'.format(df))

first_two_rows = df[0:2]
print('{}\n'.format(first_two_rows))

last_two_rows = df['r2':'r3']
print('{}\n'.format(last_two_rows))

# There will be a KeyError when we uncomment the line 13 and run again
#df['r1']

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

    c1  c2  c3
r1   1   4   7
r2   2   5   8

    c1  c2  c3
r2   2   5   8
r3   3   6   9

# L. Other indexing

In [13]:
df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index=['r1', 'r2', 'r3'])
                   
print('{}\n'.format(df))

print('{}\n'.format(df.iloc[1]))

print('{}\n'.format(df.iloc[[0, 2]]))

bool_list = [False, True, True]
print('{}\n'.format(df.iloc[bool_list]))

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

c1    2
c2    5
c3    8
Name: r2, dtype: int64

    c1  c2  c3
r1   1   4   7
r3   3   6   9

    c1  c2  c3
r2   2   5   8
r3   3   6   9

In [14]:
df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index=['r1', 'r2', 'r3'])
                   
print('{}\n'.format(df))

print('{}\n'.format(df.loc['r2']))

bool_list = [False, True, True]
print('{}\n'.format(df.loc[bool_list]))

single_val = df.loc['r1', 'c2']
print('Single val: {}\n'.format(single_val))

print('{}\n'.format(df.loc[['r1', 'r3'], 'c2']))

df.loc[['r1', 'r3'], 'c2'] = 0
print('{}\n'.format(df))

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

c1    2
c2    5
c3    8
Name: r2, dtype: int64

    c1  c2  c3
r2   2   5   8
r3   3   6   9

Single val: 4

r1    4
r3    6
Name: c2, dtype: int64

    c1  c2  c3
r1   1   0   7
r2   2   5   8
r3   3   0   9

# CSV

In [16]:
# # data.csv contains baseball data
# df = pd.read_csv('data.csv')
# # Newline to separate print statements
# print('{}\n'.format(df))

# df = pd.read_csv('data.csv', index_col=0)
# print('{}\n'.format(df))

# df = pd.read_csv('data.csv', index_col=1)
# print('{}\n'.format(df))

# Excel

In [ ]:
# # data.csv contains baseball data
# df = pd.read_excel('data.xlsx')
# # Newline to separate print statements
# print('{}\n'.format(df))

# print('Sheet 1 (0-indexed) DataFrame:')
# df = pd.read_excel('data.xlsx', sheet_name=1)
# print('{}\n'.format(df))

# print('MIL DataFrame:')
# df = pd.read_excel('data.xlsx', sheet_name='MIL')
# print('{}\n'.format(df))

# # Sheets 0 and 1
# df_dict = pd.read_excel('data.xlsx', sheet_name=[0, 1])
# print('{}\n'.format(df_dict[1]))

# # All Sheets
# df_dict = pd.read_excel('data.xlsx', sheet_name=None)
# print(df_dict.keys())

# JSON

In [ ]:
# # data is the JSON data (as a Python dict)
# print('{}\n'.format(data))

# df1 = pd.read_json('data.json')
# print('{}\n'.format(df1))

# df2 = pd.read_json('data.json', orient='index')
# print('{}\n'.format(df2))

# Quantitative features

In [17]:
df = pd.DataFrame({
  'T1': [10, 15, 8],
  'T2': [25, 27, 25],
  'T3': [16, 15, 10]})
  
print('{}\n'.format(df))

print('{}\n'.format(df.sum()))

print('{}\n'.format(df.sum(axis=1)))

print('{}\n'.format(df.mean()))

print('{}\n'.format(df.mean(axis=1)))

   T1  T2  T3
0  10  25  16
1  15  27  15
2   8  25  10

T1    33
T2    77
T3    41
dtype: int64

0    51
1    57
2    43
dtype: int64

T1    11.000000
T2    25.666667
T3    13.666667
dtype: float64

0    17.000000
1    19.000000
2    14.333333
dtype: float64

# Weighted features

In [18]:
df = pd.DataFrame({
  'T1': [0.1, 150.],
  'T2': [0.25, 240.],
  'T3': [0.16, 100.]})
  
print('{}\n'.format(df))

print('{}\n'.format(df.multiply(2)))

df_ms = df.multiply([1000, 1], axis=0)
print('{}\n'.format(df_ms))

df_w = df_ms.multiply([1,0.5,1])
print('{}\n'.format(df_w))
print('{}\n'.format(df_w.sum(axis=1)))

      T1      T2      T3
0    0.1    0.25    0.16
1  150.0  240.00  100.00

      T1     T2      T3
0    0.2    0.5    0.32
1  300.0  480.0  200.00

      T1     T2     T3
0  100.0  250.0  160.0
1  150.0  240.0  100.0

      T1     T2     T3
0  100.0  125.0  160.0
1  150.0  120.0  100.0

0    385.0
1    370.0
dtype: float64

# Filter conditions

In [19]:
df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'cruzne02'],
  'yearID': [2016, 2016, 2016, 2016, 2017],
  'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'SEA'],
  'HR': [31, 39, 43, 38, 39]})
  
print('{}\n'.format(df))

cruzne02 = df['playerID'] == 'cruzne02'
print('{}\n'.format(cruzne02))

hr40 = df['HR'] > 40
print('{}\n'.format(hr40))

notbos = df['teamID'] != 'BOS'
print('{}\n'.format(notbos))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4   cruzne02    2017    SEA  39

0    False
1    False
2     True
3    False
4     True
Name: playerID, dtype: bool

0    False
1    False
2     True
3    False
4    False
Name: HR, dtype: bool

0    False
1     True
2     True
3    False
4     True
Name: teamID, dtype: bool

# Filters from functions

In [20]:
df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'cruzne02'],
  'yearID': [2016, 2016, 2016, 2016, 2017],
  'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'SEA'],
  'HR': [31, 39, 43, 38, 39]})
  
print('{}\n'.format(df))

str_f1 = df['playerID'].str.startswith('c')
print('{}\n'.format(str_f1))

str_f2 = df['teamID'].str.endswith('S')
print('{}\n'.format(str_f2))

str_f3 = ~df['playerID'].str.contains('o')
print('{}\n'.format(str_f3))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4   cruzne02    2017    SEA  39

0    False
1     True
2     True
3    False
4     True
Name: playerID, dtype: bool

0     True
1    False
2    False
3     True
4    False
Name: teamID, dtype: bool

0    False
1    False
2     True
3    False
4     True
Name: playerID, dtype: bool

In [21]:
df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'doejo01'],
  'yearID': [2016, 2016, 2017],
  'teamID': ['BOS', 'SEA', np.nan],
  'HR': [31, 39, 99]})
  
print('{}\n'.format(df))

isna = df['teamID'].isna()
print('{}\n'.format(isna))

notna = df['teamID'].notna()
print('{}\n'.format(notna))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2    doejo01    2017    NaN  99

0    False
1    False
2     True
Name: teamID, dtype: bool

0     True
1     True
2    False
Name: teamID, dtype: bool

# Feature filtering

In [22]:
df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'bettsmo01'],
  'yearID': [2016, 2016, 2016, 2016, 2015],
  'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'BOS'],
  'HR': [31, 39, 43, 38, 18]})
  
print('{}\n'.format(df))

hr40_df = df[df['HR'] > 40]
print('{}\n'.format(hr40_df))

not_hr30_df = df[~(df['HR'] > 30)]
print('{}\n'.format(not_hr30_df))

str_df = df[df['teamID'].str.startswith('B')]
print('{}\n'.format(str_df))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4  bettsmo01    2015    BOS  18

   playerID  yearID teamID  HR
2  cruzne02    2016    SEA  43

    playerID  yearID teamID  HR
4  bettsmo01    2015    BOS  18

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
3  ortizda01    2016    BOS  38
4  bettsmo01    2015    BOS  18

# Sorting by feature

In [23]:
# df is predefined
print('{}\n'.format(df))

sort1 = df.sort_values('yearID')
print('{}\n'.format(sort1))

sort2 = df.sort_values('playerID', ascending=False)
print('{}\n'.format(sort2))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4  bettsmo01    2015    BOS  18

    playerID  yearID teamID  HR
4  bettsmo01    2015    BOS  18
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38

    playerID  yearID teamID  HR
3  ortizda01    2016    BOS  38
2   cruzne02    2016    SEA  43
1   canoro01    2016    SEA  39
0  bettsmo01    2016    BOS  31
4  bettsmo01    2015    BOS  18

In [24]:
# df is predefined
print('{}\n'.format(df))

sort1 = df.sort_values(['yearID', 'playerID'])
print('{}\n'.format(sort1))

sort2 = df.sort_values(['yearID', 'HR'],
                       ascending=[True, False])
print('{}\n'.format(sort2))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4  bettsmo01    2015    BOS  18

    playerID  yearID teamID  HR
4  bettsmo01    2015    BOS  18
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38

    playerID  yearID teamID  HR
4  bettsmo01    2015    BOS  18
2   cruzne02    2016    SEA  43
1   canoro01    2016    SEA  39
3  ortizda01    2016    BOS  38
0  bettsmo01    2016    BOS  31

# Numeric metrics

In [26]:
# # df is predefined
# print('{}\n'.format(df))

# metrics1 = df.describe()
# print('{}\n'.format(metrics1))

# hr_rbi = df[['HR','RBI']]
# metrics2 = hr_rbi.describe()
# print('{}\n'.format(metrics2))